body{
    background-image: url(outra.jpg);
    background-size: cover;
}


header{
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 25px;
    margin-top: -60px;
}

.net{
    height: 45px;
    margin-top: 20px;
    margin-left: 50px;
}

h1{
    display: flex;
    color: whitesmoke;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 65px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.meio{
    display: flex;
    justify-content: center;
    margin-top: 110px;
    margin-left: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 200;
}


h2{
    display: flex;
    justify-content: center;
    margin-top: -40px;
    margin-left: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    font-size: 25px;

}

p{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-left: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    font-size: 22px;
}

footer{
    display: flex;
    justify-content: center;

}

.email{
    padding: 20px;
    padding-left: 350px;
    margin-bottom: 31px;
}

.entrada{
    background-color: rgba(236, 0, 0, 0.788);
    margin-right: 40px;
    padding: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    border-radius: 5px;
    font-size: 20px;

}

.portuga{
    background-color:rgba(0, 0, 0, 0.541);
    padding: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    border-radius: 5px;
    font-size: 20px;
}

.vamos{
    padding: 20px;
    margin-bottom: 30px; 
    background-color: rgba(236, 0, 0, 0.788); color: white; font-size: 30px;
    height:70px;
}

