*{
    font-style: italic;
    text-shadow: 45em;
    text-decoration-color: darkorchid;

}

body{
 background-image: url(imagens/fundo.jpg);
 background-size:cover;
 text-decoration: none;}

.topo-escrita{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    margin-top: -200px;
    gap: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration-line: underline;
}

.fotos-meio{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: -3%;
    gap: 40px;
}
